<head>
  <!-- KUnet Bootstrap core CSS -->
  <link
    href="https://cdn.ku.dk/styles/Latest-stable/css/ku.min.css"
    rel="stylesheet"
  />
</head>

<div class="container">
  <form (ngSubmit)="login()" class="form-signin">
    <!-- <img class="center-block" src="/assets/ku_logo_uk.svg" alt="University of Copenhagen login">
        <h2 class="center-block">Matchmaking tool</h2> -->
    <div class="center-container">
      <img
        class="center-block"
        src="/assets/ku_logo_uk.svg"
        alt="University of Copenhagen login"
      />
      <h2 class="app-title">MATCHMAKING TOOL</h2>
    </div>

    <label for="inputUsername" class="sr-only">Email</label>
    <input
      class="form-control margin-top-10"
      type="email"
      id="email"
      name="email"
      [(ngModel)]="email"
      placeholder="Email"
      required
      autofocus
    />
    <label for="password" class="sr-only">Password</label>
    <input
      class="form-control margin-top-10"
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      placeholder="Password"
      required
    />
    <p class="margin-top-10"></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Login
    </button>
  </form>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
</div>
