<mat-form-field>
  <mat-label>Student</mat-label>
  <mat-select [(value)]="selected">
    <input matInput (keyup)="onKey($event)" />
    <mat-option *ngFor="let state of selectedStates" [value]="state">{{
      state
    }}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-button (click)="addUser()">ADD</button>
<div *ngFor="let state of states">
  <mat-card> {{ state }}</mat-card>
</div>

<mat-form-field>
  <mat-label>Project</mat-label>
  <mat-select [(value)]="selectedProject" multiple>
    <input matInput (keyup)="onKeyProject($event)" />
    <mat-option *ngFor="let project of selectedProjects" [value]="project">{{
      project
    }}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-button (click)="addProjects()">ADD</button>
<div *ngFor="let project of projectList">
  <mat-card> {{ project }}</mat-card>
</div>

<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let project of selectedProject" cdkDrag>
    {{ project }}
  </div>
</div>
