<mat-form-field>
  <mat-label>Student</mat-label>
  <mat-select [(value)]="selectedStudent">
    <!-- REPLACE WITH MATERIAL AUTOCOMPLETE -->
    <input matInput placeholder="Search" (keyup)="onKey($event)" />
    <mat-option *ngFor="let student of filteredStudents" [value]="student">{{
      student
    }}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-button (click)="addStudent()">ADD</button>
<div *ngFor="let student of selectedStudentList">
  <mat-card>
    <h2>{{ student }}</h2>
    <button mat-fab><mat-icon>remove</mat-icon></button>
  </mat-card>
</div>

<mat-form-field>
  <mat-label>Project</mat-label>
  <mat-select [(value)]="selectedProjects" multiple>
    <!-- <input matInput (keyup)="onKeyProject($event)" /> -->
    <mat-option *ngFor="let project of projectList" [value]="project">{{
      project
    }}</mat-option>
  </mat-select>
</mat-form-field>
<!-- <button mat-button (click)="addProjects()">ADD</button> -->
<!-- <div *ngFor="let project of projectList">
  <mat-card> {{ project }}</mat-card>
</div> -->

<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let project of selectedProjects" cdkDrag>
    {{ project }}
  </div>
</div>
