<div class="professor-dashboard">
  <div class="left-side">
    <h1 class="center-header">PROJECTS</h1>
    <div class="project-list">
      <mat-card *ngFor="let project of projectList" class="project-card">
        <mat-card-title> {{ project.title }} </mat-card-title>
        <!-- <mat-card-subtitle> varza si muratura</mat-card-subtitle> -->
        <mat-card-content> {{ project.description }}</mat-card-content>
        <mat-card-actions class="mat-card-actions">
          <button mat-icon-button matTooltip="Delete project">
            <mat-icon color="warn"> delete </mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="editProject(project)"
            matTooltip="Edit project"
          >
            <mat-icon color="primary"> edit </mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
      <div class="button-container">
        <button
          mat-fab
          class="export-btn"
          matTooltip="Add project"
          color="primary"
          (click)="addProject()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <button mat-icon-button matTooltip="Export projects">
      <mat-icon color="primary">download</mat-icon>
    </button>
  </div>
  <div class="student-list">
    <h1 class="center-header">Students</h1>
    <div>
      <mat-card
        *ngFor="let student of studentList$ | async"
        class="student-card"
      >
        <mat-card-title> {{ student.name }} </mat-card-title>
        <!-- <mat-card-subtitle> {{item.name}}</mat-card-subtitle> -->
      </mat-card>
    </div>
    <button mat-icon-button matTooltip="Import students">
      <mat-icon color="primary">upload</mat-icon>
    </button>
  </div>
</div>
